.splash-body {
    display: 'flex';
    flex-direction: 'column';
    justify-content: 'center';
    align-items: center;
}

.splash-heading {
    margin: 0;
    text-align: center;
    color: #FF003F;
    font-size: 30px;
}

.splash-main-heading {
    margin: 0;
    font-size: 72px;
}