.card-item {
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    width: 16.5%;
    overflow: hidden;
}

.card-label {
    color: #8B8D9D;
}

.card-value {
    color: #434552;
    margin-top: 10px;
}