.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.item.container {
    font-size: 14px;
    color: white;
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: center;
    right: 0px;
    top: 120px;
    width: 95%;
    height: 60px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #03AEEE;
}

.icon.container {
    margin-left: 15px;
    margin-right: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 100%;
}

